@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: FuturaNowHeadlineExtraBold;
    src: url('../public/Fonts/FuturaNowHeadlineExtraBold.ttf');
}

@font-face {
    font-family: FuturaNowHeadlineExtraBlack;
    src: url('../public/Fonts/FuturaNowHeadlineExtraBlack.ttf');
}

@font-face {
    font-family: Futura;
    src: url('../public/Fonts/Futura-Bold.ttf');
}

@font-face {
    font-family: HelveticaBold;
    src: url('../public/Fonts/HelveticaNowText-Bold.ttf');
}

@font-face {
    font-family: HelveticaMedium;
    src: url('../public/Fonts/HelveticaNowText-Medium.ttf');
}

@font-face {
    font-family: HelveticaLight;
    src: url('../public/Fonts/HelveticaNowText-Light.ttf');
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    background: var(--background);
    overflow-x: hidden;
}

body.drawer-opened {
    background-color: #ffffff;
}

.header-con {
    position: fixed;
    width: calc(100vw - 0.6rem);
    z-index: 999999;
    height: 4.6rem;
}

.header-con.fixed {
    background: #ffffff66;
    -webkit-backdrop-filter: blur(14px);
    backdrop-filter: blur(14px);
    z-index: 999999;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.header {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 4.5rem;
}


body {
    --sb-track-color: none;
    --sb-thumb-color: rgb(104, 104, 104);
    --sb-size: 0.6rem;

    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
}

body::-webkit-scrollbar {
    width: var(--sb-size)
}

body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 5rem;
    z-index: 999;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}

body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 5rem;
    z-index: 999;
}

#logoImg {
    width: 7.5rem;
    height: 3rem;
}

.scrollbar-container {
    background: #2020209d;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 0.3rem 0.8rem;
    width: 20rem;
    border-radius: 5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.scrollbar-container input {
    width: 100%;
    background: none;
    border: none;
    outline: none;
}

.scrollbar-container button {
    margin-right: 1rem;
}

.searchbarinput:focus {
    background: none;
    border: none;
    outline: none;
}

.searchbarinput::-webkit-input-placeholder {
    font-size: 0.87rem;
}

.searchbarinput::-moz-placeholder {
    font-size: 0.87rem;
}

.searchbarinput:-ms-input-placeholder {
    font-size: 0.87rem;
}

.searchbarinput::-ms-input-placeholder {
    font-size: 0.87rem;
}

.searchbarinput::placeholder {
    font-size: 0.87rem;
}

.anime-container {
    /* width: 28rem; */
    padding: 0 6rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 2rem;
}

#profileImg {
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 50%;
    -o-object-fit: cover;
       object-fit: cover;
}

#drawerImg {
    width: 1.3rem;
    height: 1.3rem;
    /* filter: invert(100%) grayscale(100%); */
}

.mode {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: -5rem;
}

.mode button svg {
    width: 1.5rem;
    height: 1.5rem;
}