@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: FuturaNowHeadlineExtraBold;
    src: url('../public/Fonts/FuturaNowHeadlineExtraBold.ttf');
}

@font-face {
    font-family: FuturaNowHeadlineExtraBlack;
    src: url('../public/Fonts/FuturaNowHeadlineExtraBlack.ttf');
}

@font-face {
    font-family: Futura;
    src: url('../public/Fonts/Futura-Bold.ttf');
}

@font-face {
    font-family: HelveticaBold;
    src: url('../public/Fonts/HelveticaNowText-Bold.ttf');
}

@font-face {
    font-family: HelveticaMedium;
    src: url('../public/Fonts/HelveticaNowText-Medium.ttf');
}

@font-face {
    font-family: HelveticaLight;
    src: url('../public/Fonts/HelveticaNowText-Light.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    background: #0E1111;
    overflow-x: hidden;
}

.header-con {
    position: absolute;
}

.header {
    width: 100vw;
}