@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: FuturaNowHeadlineExtraBold;
    src: url('../public/Fonts/FuturaNowHeadlineExtraBold.ttf');
}

@font-face {
    font-family: FuturaNowHeadlineExtraBlack;
    src: url('../public/Fonts/FuturaNowHeadlineExtraBlack.ttf');
}

@font-face {
    font-family: Futura;
    src: url('../public/Fonts/Futura-Bold.ttf');
}

@font-face {
    font-family: HelveticaBold;
    src: url('../public/Fonts/HelveticaNowText-Bold.ttf');
}

@font-face {
    font-family: HelveticaMedium;
    src: url('../public/Fonts/HelveticaNowText-Medium.ttf');
}

@font-face {
    font-family: HelveticaLight;
    src: url('../public/Fonts/HelveticaNowText-Light.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    background: #0E1111;
    overflow-x: hidden;
}

.header-con {
    position: fixed;
    width: calc(100vw - 0.7rem);
    z-index: 999999;
}

.header-con.fixed {
    background: rgba(0, 0, 0, 0.4);
    -webkit-backdrop-filter: blur(14px);
    backdrop-filter: blur(14px);
    z-index: 999999;
}

.header {
    width: 100%;
}


body {
    --sb-track-color: none;
    --sb-thumb-color: #d3d3d3;
    --sb-size: 0.7rem;

    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
}

body::-webkit-scrollbar {
    width: var(--sb-size)
}

body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 5rem;
    z-index: 999;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}

body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 5rem;
    z-index: 999;
}