.footerline {
    height: 1px;
    width: 94%;
    margin-left: 3%;
    background: #3e3e3e;
    margin-top: 2rem;
}


#verticalLine {
    width: 1px;
}

.links {
    border-radius: 0.5rem;
    /* border: 0.3px solid #dadada; */
}

#linkIcon {
    width: 1.9rem;
    height: 1.9rem;
    scale: 0.9;
    transition: all 0.5s ease;
}

/* #linkIcon:hover {
    scale: 1.1;
} */

.hline {
    width: 1.4rem;
    height: 0.7px;
    border-radius: 5rem;
}

#hline {
    width: 35rem;
    height: 0.005rem;
    border-radius: 5rem;
}

svg {
    transition: all 0.3s ease;
}

#link1 {
    border-top-left-radius: 1rem;

}

#link2 {
    border-top-right-radius: 1rem;
}

#link3 {
    border-bottom-left-radius: 1rem;
}

#link4 {
    border-bottom-right-radius: 1rem;
}

.linksCon:hover #linkIcon {
    animation: colorAni 0.5s ease forwards;
    scale: 1.2;
}

#link1:hover {
    background: linear-gradient(to right, #1d7ece, #4b7bec);
}

#link2:hover {
    background: linear-gradient(to right, #55acee, #1da1f2);
}

#link3:hover {
    background: #000;
}

#link4:hover {
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
}

@keyframes colorAni {
    from {
        color: #ffffff;
    }

    to {
        color: #fff;
    }
}

.basic li {
    transition: all 0.3s ease;
}

.basic li:not(:hover) {
    margin-top: 0;
}

.basic li:hover {
    margin-top: -1rem;
}

#followtxt {
    rotate: -90deg;
    text-orientation: mixed;
    white-space: nowrap;
    text-transform: uppercase;
    margin-right: -3rem;
    font-family: FuturaNowHeadlineExtraBold;
    color: #ff0000;
}

.whole {
    position: absolute;
    left: 50%;
    top: -120vh;
    transform: translate(-50%, -50%);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.15);
    opacity: 1;
    width: 100vw;
    height: 100vh;
    z-index: 888899999;
    transition: all 0.5s ease;
    color: #fff;
}

.whole.blured {
    top: 50%;
}

.aboutcontainter {
    background: transparent;
}

#abtBtn {
    z-index: 99999999;
}

dialog {
    -webkit-backdrop-filter: blur(13px);
    backdrop-filter: blur(13px);
    border-radius: 1rem;
}

/*   Open state of the dialog  */
dialog[open] {
    opacity: 1;
    transform: scaleY(1);
}

/*   Closed state of the dialog   */
dialog {
    opacity: 0;
    transform: scaleY(0);
    transition:
        opacity 0.7s ease-out,
        transform 0.7s ease-out,
        overlay 0.7s ease-out allow-discrete,
        display 0.7s ease-out allow-discrete;
    /* Equivalent to
    transition: all 0.7s allow-discrete; */
}

/*   Before-open state  */
/* Needs to be after the previous dialog[open] rule to take effect,
      as the specificity is the same */
@starting-style {
    dialog[open] {
        opacity: 0;
        transform: scaleY(0);
    }
}

/* Transition the :backdrop when the dialog modal is promoted to the top layer */
dialog::backdrop {
    background-color: rgb(0 0 0 / 0);
    transition:
        display 0.7s allow-discrete,
        overlay 0.7s allow-discrete,
        background-color 0.7s;
    /* Equivalent to
    transition: all 0.7s allow-discrete; */
}

dialog[open]::backdrop {
    background-color: rgb(0 0 0 / 0.25);
}

/* This starting-style rule cannot be nested inside the above selector
  because the nesting selector cannot represent pseudo-elements. */

@starting-style {
    dialog[open]::backdrop {
        background-color: rgb(0 0 0 / 0);
    }
}


#profImg {
    transition: all 0.5s ease;
}

#perLink {
    text-decoration: none;
    transition: all 0.2s ease;
}

#aboutme,
#name {
    font-family: FuturaNowHeadlineExtraBold;
    text-transform: uppercase;
}

#hi {
    font-family: DancingScriptMedium;
}

#dgree,
#cause {
    font-family: HelveticaLight;
}

#contactform input::placeholder, #contactform textarea::placeholder {
    font-size: 0.9rem;
    font-family: HelveticaLight;
    font-style: italic;
    color: #dadada;
}

#contactform input:active {
    border: none;
}

#contactform input:focus, #contactform textarea:focus {
    outline: none;
}