#aboutbtn,
#contactbtn {
    /* --color: #560bad; */
    font-family: inherit;
    display: inline-block;
    line-height: 2.5em;
    position: relative;
    overflow: hidden;
    transition: color .5s;
    z-index: 1;
    font-size: 14px;
    font-weight: 500;
}

#aboutbtn:before,
#contactbtn:before {
    content: "";
    position: absolute;
    z-index: -1;
    height: 150px;
    width: 200px;
    border-radius: 50%;
}

#aboutbtn:before {
    background: #ff0000;
}

#contactbtn:before {
    background: #0084ff;
}

#aboutbtn:hover,
#contactbtn:hover {
    color: #fff;
}

#aboutbtn:before,
#contactbtn:before {
    top: 100%;
    left: 100%;
    transition: all .7s;
}

#aboutbtn:hover:before,
#contactbtn:hover:before {
    top: -30px;
    left: -30px;
}

#aboutbtn:active:before,
#contactbtn:active:before {
    transition: background 0s;
}



/* About */
/* #footerCon {
    position: relative;
} */

.whole {
    position: absolute;
    left: 50%;
    top: -120vh;
    transform: translate(-50%, -50%);
    background: #3d3d3d4d;
    -webkit-backdrop-filter: blur(16px);
    backdrop-filter: blur(16px);
    border: 1px solid rgba(255, 255, 255, 0.15);
    opacity: 1;
    width: 100vw;
    height: 100vh;
    z-index: 888899999;
    transition: all 0.5s ease;
    color: #fff;
}

.whole.blured {
    top: 50%;
}

.about-content, .contact-content {
    position: absolute;
    left: 50%;
    top: -150vh;
    transform: translate(-50%, -50%);
    width: 75vw;
    z-index: 999999999999999999;
    background: #62626285;
    -webkit-backdrop-filter: blur(25px);
    backdrop-filter: blur(25px);
    border: 1px solid rgba(255, 255, 255, 0.175);
    transition: all 0.5s ease;
    padding: 2rem;
    border-radius: 2rem;
}

.about-content.clicked, .contact-content.clicked {
    top: 50%;
}