#aboutbtn,
#contactbtn {
    /* --color: #560bad; */
    font-family: inherit;
    display: inline-block;
    line-height: 2.5em;
    position: relative;
    overflow: hidden;
    transition: color .5s;
    z-index: 1;
    font-size: 14px;
    font-weight: 500;
}

#aboutbtn:before,
#contactbtn:before {
    content: "";
    position: absolute;
    z-index: -1;
    height: 150px;
    width: 200px;
    border-radius: 50%;
}

#aboutbtn:before {
    background: #ff0000;
}

#contactbtn:before {
    background: #0084ff;
}

#aboutbtn:hover,
#contactbtn:hover {
    color: #fff;
}

#aboutbtn:before,
#contactbtn:before {
    top: 100%;
    left: 100%;
    transition: all .7s;
}

#aboutbtn:hover:before,
#contactbtn:hover:before {
    top: -30px;
    left: -30px;
}

#aboutbtn:active:before,
#contactbtn:active:before {
    transition: background 0s;
}



/* About */
/* #footerCon {
    position: relative;
} */

