.container {
    height: 80vh;
}

.imageContainer {
    background: #000;
    height: 60vh;
    width: 22vw;
    border-radius: 2rem;
    margin-top: 3rem;
    margin-left: 2rem;
}

.imageContainer>img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.animeDetails {
    background: #353839;
    width: 80vw;
}

.title,
.titleHead {
    font-family: FuturaNowHeadlineExtraBold;
    text-transform: uppercase;
}

.title {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.titleHead {
    font-size: 3.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.details {
    width: 48vw;
}

.detailDesc {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 2rem;
}

.detailDesc>span {
    font-family: HelveticaBold;
    font-size: 1.3rem;
    margin-top: 0.5rem;
}

.description {
    margin-top: -4rem;
    font-family: HelveticaLight;
    font-size: 1rem;
}

.description>button {
    font-family: HelveticaMedium;
    font-size: 1.1rem;
}

.trailer-con {
    -webkit-box-shadow: rgba(73, 73, 73, 0.25) 0px 54px 55px, rgba(58, 58, 58, 0.12) 0px -12px 30px, rgba(59, 59, 59, 0.12) 0px 4px 6px, rgba(49, 49, 49, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
            box-shadow: rgba(73, 73, 73, 0.25) 0px 54px 55px, rgba(58, 58, 58, 0.12) 0px -12px 30px, rgba(59, 59, 59, 0.12) 0px 4px 6px, rgba(49, 49, 49, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    aspect-ratio: 16 / 9;
}

.trailer-con>iframe {
    width: 100%;
}

.trailer {
    width: 81vw;
}

.characterContainer {
    width: 80vw;
}

.characterContainer>h1 {
    margin-bottom: -0.3rem;
}

#charstaff {
    height: 0.05rem;
    margin-bottom: 1rem;
}

.characters {
    width: 81vw;
    margin-left: -0.5vw;
}

.char-name,
.char-role {
    font-family: HelveticaLight;
}

#charimg {
    -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 100%;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.char-name {
    font-size: 1rem;
}

.staffContainer {
    width: 80vw;
}

#staffhead {
    margin-bottom: -2px;
}

#linestaff {
    margin-bottom: -1rem;
    height: 0.05rem;
}

.staffs {
    width: 80vw;
    margin-left: 0;
}

#recomimg {
    transition: all 0.5s ease;
}