.index-anime-content {
    overflow-x: hidden;
    overflow-y: hidden;
    height: 43vh;
    /* background: #fff; */
    grid-auto-flow: column;
    grid-auto-columns: 15vw;
    -ms-scroll-snap-type: x mandatory;
        scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -ms-flex-line-pack: start;
        align-content: start;
}

.index-anime-content>* {
    scroll-snap-align: start;
}

.index-anime-container {
    position: relative;
    padding-left: 1rem;
    padding-right: 1rem;
}

.index-anime-main {
    /* background: green; */
    padding: 0 2rem;
}

.index-anime-container>button {
    background: #0000004d;
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    /* border: 1px solid rgba(255, 255, 255, 0.15); */
    width: 2rem;
    height: 25%;
    position: absolute;
    top: 30%;
    border-radius: 2rem;
    padding: 0.2rem;
}

.scroll-left{
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
    left: 0;
}

.scroll-right{
    left: 98%;
}

#nxtimg, #previmg {
    -webkit-filter: invert(100%) grayscale(100%);
            filter: invert(100%) grayscale(100%);
    width: 5rem;
}

#animeimg {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: all 0.25s ease;
}