.searchbarinput:focus {
    background: none;
    border: none;
    outline: none;
}

.searchbarinput::-webkit-input-placeholder {
    font-size: 0.87rem;
}

.searchbarinput::-moz-placeholder {
    font-size: 0.87rem;
}

.searchbarinput:-ms-input-placeholder {
    font-size: 0.87rem;
}

.searchbarinput::-ms-input-placeholder {
    font-size: 0.87rem;
}

.searchbarinput::placeholder {
    font-size: 0.87rem;
}

/* Disable search clear button in Chrome, Safari, and Edge */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-clear-button {
    -webkit-appearance: none;
    appearance: none;
    display: none;
}

#searchCont {
    z-index: -999;
}

#headerBar {
    -webkit-backdrop-filter: blur(14px);
    backdrop-filter: blur(14px);
    width: calc(100vw - 0.6rem);
}

#searchCont {
    --sb-track-color: none;
    --sb-thumb-color: rgb(104, 104, 104);
    --sb-size: 0.6rem;

    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
}

#searchCont::-webkit-scrollbar {
    width: var(--sb-size)
}

#searchCont::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 5rem;
    z-index: 999;
    margin-top: 3.4vh;
    margin-bottom: 2.8rem;
}

#searchCont::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 5rem;
    z-index: 999;
}