.button {
    font-family: inherit;
    font-size: 1rem;
    background: royalblue;
    color: white;
    padding: 0.4em 2em;
    padding-left: 1.9em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: none;
    border-radius: 5rem;
    overflow: hidden;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    cursor: pointer;
    position: relative;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
}

.button span {
    display: block;
    margin-left: 0.3em;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.button Image {
    display: block;
    -webkit-transform-origin: center center;
        -ms-transform-origin: center center;
            transform-origin: center center;
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    -o-transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.button:hover .svg-wrapper {
    -webkit-animation: fly-1 0.6s ease-in-out infinite alternate;
            animation: fly-1 0.6s ease-in-out infinite alternate;
}

.button:hover #showmoreimg {
    -webkit-transform: translateX(1.2em) rotate(90deg) scale(1.1);
        -ms-transform: translateX(1.2em) rotate(90deg) scale(1.1);
            transform: translateX(1.2em) rotate(90deg) scale(1.1);
}

.button:hover span {
    -webkit-transform: translateX(5em);
        -ms-transform: translateX(5em);
            transform: translateX(5em);
}

.button:active {
    -webkit-transform: scale(0.95);
        -ms-transform: scale(0.95);
            transform: scale(0.95);
}

@-webkit-keyframes fly-1 {
    from {
        -webkit-transform: translateY(0.1em);
                transform: translateY(0.1em);
    }

    to {
        -webkit-transform: translateY(-0.1em);
                transform: translateY(-0.1em);
    }
}

@keyframes fly-1 {
    from {
        -webkit-transform: translateY(0.1em);
                transform: translateY(0.1em);
    }

    to {
        -webkit-transform: translateY(-0.1em);
                transform: translateY(-0.1em);
    }
}

#showmoreimg {
    width: 1rem;
    height: 1rem;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
}