.button {
    position: relative;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
        -ms-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
    width: 10rem;
    height: 40px;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #0ba649;
    overflow: hidden;
    border-radius: 5rem;
}

.button,
.button__icon,
.button__text {
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.button .button__text {
    -webkit-transform: translateX(22px);
        -ms-transform: translateX(22px);
            transform: translateX(22px);
    color: #fff;
    font-weight: 600;
}

.button .button__icon {
    position: absolute;
    -webkit-transform: translateX(7.63rem);
        -ms-transform: translateX(7.63rem);
            transform: translateX(7.63rem);
    height: 100%;
    width: 39px;
    background-color: #4bea4b;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 5rem;
}

.button svg {
    width: 20px;
    fill: #fff;
}

.button:hover {
    background: #4bea4b;
}

.button:hover .button__text {
    color: transparent;
}

.button:hover .button__icon {
    width: 148px;
    -webkit-transform: translateX(0.5rem);
        -ms-transform: translateX(0.5rem);
            transform: translateX(0.5rem);
}

.button:hover svg {
    width: 1.8rem;
    height: 1.8rem;
    -webkit-animation: fly-1 0.6s ease-in-out infinite alternate;
            animation: fly-1 0.6s ease-in-out infinite alternate;
}

.button:active .button__icon {
    background-color: #4bea4b;
}

.button:active {
    border: 1px solid #4bea4b;
}


@-webkit-keyframes fly-1 {
    from {
        -webkit-transform: translateY(0.1em);
                transform: translateY(0.1em);
    }

    to {
        -webkit-transform: translateY(-0.1em);
                transform: translateY(-0.1em);
    }
}


@keyframes fly-1 {
    from {
        -webkit-transform: translateY(0.1em);
                transform: translateY(0.1em);
    }

    to {
        -webkit-transform: translateY(-0.1em);
                transform: translateY(-0.1em);
    }
}

#viewmoreChar {
    margin-top: 3rem;
}